#top{
display: block;
 background: darkslategray;
 float: top;
 width: 100%;
 height:200px;
}
#left{
display: block;
 background: lightgray;
 float: left;
 width: 20vh;
 min-height: 100vh;
}
#right{
    display: block;
     background: lightgray;
     float: right;
     width: 20vh;
     min-height: 100vh;
    }
.footer{
     display: block;
     position: fixed;
     background: black;
     margin-left: 21%;
     margin-right:21%; 
     bottom: 0;
     width: 56%;
     height:20vh;
    }